<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Mail</title>
</head>
<body>
    <h5>Dear ${firstName}</h5>

    <h4>Congratulations!</h4>
    <p>Your registration for the 2023 english scholarship program by <a href="https://myscholarship.ng/">myscholarship.ng</a> has been submitted successfully. </p>
</body>
</html>